.page{
	width: 612px;
	height: 1258px;
/* 	background-image:url(../pictures/basketball.png); */
	border: 1px solid red;
}
.cont{
	max-width: 612px !important;
}
p {
	margin: 0px;
}

/*carte*/
#mapid { 
	width: 590px; 
	height: 400px;
	box-shadow: 0px 3px 1px grey;
	
}

/*formulaire parcours*/
.jeu {
	
	width: 612px;
}

.niveau{
	margin-top: 20px;
}

.niveau-card{
	
	border-radius: 10px;
	background: white;
}

.niveau-titre{
	color: red;
	font-weight: bold;
	font-size: 40px;
	margin: 0px;
}

.mission{
	font-size: 18px;
	font-weight: bolder;
}
.voir-carte{
	width: 150px;
	height:30px;
	margin-bottom: 5px;
	background: #d3d7cf;
	color: green;
	border-radius: 20px;
	text-align: center;

}

.etape{
	background: white;
}
.th{
	font-weight: bold;
}

/*boutton jeu*/
.bouton{
	height: 120px;
	border-botom: 1px solid grey;
	border-left: 1px solid grey;
	border-radius: 2px;
	box-shadow: -3px 3px 3px grey;
}
.bt1{
	background: orange;
}

.bt2{
	background: blue;
}

.bt3{
	background: red;
}

.bt4{
	background: grey;
}

.bt5{
	background: green;
}
.velo{
	background: white ;
	border: one;
}

.icon1{
	width: 45%;
	color: white;
}
.icon2{
	width: 37%;
	color: white;
}
.icon3{
	width: 30%;
	color: white;
}
.icon4{
	width: 37%;
	color: white;
}
.icon5{
	width: 10%;
	color: white;
}
	
	