<!DOCTYPE html>
<html>
<head>
	
	<title>Ekolis | Etape n°2</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<link rel="stylesheet" href="/css/parcours1.css">
	
</head>
<body class="page">
	<div class="container z-index-1 cont">
		<!-- affichage carte -->
		<div class="row justify-content-center mt-2"> 
			<div id="mapid" class=""></div>
		</div>

		<!-- formulaire parcours -->
		<div class="row justify-content-md-center jeu">
			<div class="col-12 ml-auto mr-auto form">
				<div class="container niveau">
					<div class="row justify-content-md-center">
						<div class="col-6 align-middle text-center niveau-card">
							<p class="niveau-titre">NIVEAU 1</p>
						</div>
						<div class="col-1 ml-auto">
							<a href="/menu"> <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16 icon6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
								<path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
							</svg></a>
							<p>sortir</p>
						</div>
					</div>
					<div class="row justify-content mt-2">
						<div class="col-9 mt-2 ">
							<p class="mission">Votre mission, si vous l'acceptez, sera de vous rendre du Labo au Palais des sports.</p>
							<div class="d-flex justify-content-around mt-2"> 
								<button id="depart" class="voir-carte"><p>voir le départ</p></button>
								<button id="arrivee" class="voir-carte"><p>voir l'arrivée</p></button>
							</div>
						</div>
					</div>
					<div class="row justify-content">
						<div class="col-9 mt-2 mr-auto rounded etape">
							<div class="row">
								<div class="col-7">
								<h1>Etape 3</h1>
								</div>
								<div class="col-2 mt-3"> 
									<button id="etape" class="voir-carte"><p>voir l'étape</p></button>
								</div>
							</div>
							<p>Choisisez le moyen de vous rendre de la place de l'étape au Palais des Sports : 1100m</p>
							<div class="container ">
								<div class="row border-bottom">
									<div class="col-6">
										<p class="th">Moyen de transport</p>
									</div>
									<div class="col-6">
										<p class="th">Temps de parcours</p>
									</div>
								</div>
								<div class="row border-bottom">
									<div class="col-6">
										<p>A vélo</p>
									</div>
									<div class="col-6" th:each="journey : ${journeys3}" th:if="${journey.transportType == 'Vélo'}">
										<p th:if="${journey.duration % 60 < 10}" th:text="|${journey.duration / 60}m0${journey.duration % 60}s|">temps</p>
										<p th:unless="${journey.duration % 60 < 10}" th:text="|${journey.duration / 60}m${journey.duration % 60}s|">temps</p>
									</div>
								</div>
								<div class="row border-bottom">
									<div class="col-6">
										<p>En bus</p>
									</div>
									<div class="col-6" th:each="journey : ${journeys3}" th:if="${journey.transportType == 'Bus/Tram'}">
										<p th:if="${journey.duration % 60 < 10}" th:text="|${journey.duration / 60}m0${journey.duration % 60}s|">temps</p>
										<p th:unless="${journey.duration % 60 < 10}" th:text="|${journey.duration / 60}m${journey.duration % 60}s|">temps</p>
									</div>
								</div>
								<div class="row border-bottom">
									<div class="col-6">
										<p>En voiture</p>
									</div>
									<div class="col-6">
										<p>4m10s</p>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<p>A pied</p>
									</div>
									<div class="col-6" th:each="journey : ${journeys3}" th:if="${journey.transportType == 'Marche'}">
										<p th:if="${journey.duration % 60 < 10}" th:text="|${journey.duration / 60}m0${journey.duration % 60}s|">temps</p>
										<p th:unless="${journey.duration % 60 < 10}" th:text="|${journey.duration / 60}m${journey.duration % 60}s|">temps</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



	<!-- boutton jeu -->
		<div class="row justify-content-md-center m-1 fixed-bottom">
			<div class="col-6 text-center px-2 py-1">
				<form method="post" th:action="|/parcours/${level.id}/etape3|" th:each="journey : ${journeys3}" th:if="${journey.transportType == 'Vélo'}">
				<input type="hidden" name="emission" th:value="${journey.emissionCo2}" >
				<input type="hidden" name="time" th:value="${journey.duration}">
				<button class="bouton bt1" type="submit">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="biking" class="svg-inline--fa fa-biking fa-w-20 icon1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
						<path fill="currentColor" d="M400 96a48 48 0 1 0-48-48 48 48 0 0 0 48 48zm-4 121a31.9 31.9 0 0 0 20 7h64a32 32 0 0 0 0-64h-52.78L356 103a31.94 31.94 0 0 0-40.81.68l-112 96a32 32 0 0 0 3.08 50.92L288 305.12V416a32 32 0 0 0 64 0V288a32 32 0 0 0-14.25-26.62l-41.36-27.57 58.25-49.92zm116 39a128 128 0 1 0 128 128 128 128 0 0 0-128-128zm0 192a64 64 0 1 1 64-64 64 64 0 0 1-64 64zM128 256a128 128 0 1 0 128 128 128 128 0 0 0-128-128zm0 192a64 64 0 1 1 64-64 64 64 0 0 1-64 64z"></path>
					</svg>
				</button>
				</form>
			</div>
			<div class="col-6 text-center px-2 py-1">
				<form method="post" th:action="|/parcours/${level.id}/etape3|" th:each="journey, iter : ${journeys3}" th:if="${journey.transportType == 'Marche'}">
				<input type="hidden" name="emission" th:value="${journey.emissionCo2}" >
				<input type="hidden" name="time" th:value="${journey.duration}">
				<button class="bouton bt2" type="submit">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="walking" class="svg-inline--fa fa-walking fa-w-10 icon5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
						<path fill="currentColor" d="M208 96c26.5 0 48-21.5 48-48S234.5 0 208 0s-48 21.5-48 48 21.5 48 48 48zm94.5 149.1l-23.3-11.8-9.7-29.4c-14.7-44.6-55.7-75.8-102.2-75.9-36-.1-55.9 10.1-93.3 25.2-21.6 8.7-39.3 25.2-49.7 46.2L17.6 213c-7.8 15.8-1.5 35 14.2 42.9 15.6 7.9 34.6 1.5 42.5-14.3L81 228c3.5-7 9.3-12.5 16.5-15.4l26.8-10.8-15.2 60.7c-5.2 20.8.4 42.9 14.9 58.8l59.9 65.4c7.2 7.9 12.3 17.4 14.9 27.7l18.3 73.3c4.3 17.1 21.7 27.6 38.8 23.3 17.1-4.3 27.6-21.7 23.3-38.8l-22.2-89c-2.6-10.3-7.7-19.9-14.9-27.7l-45.5-49.7 17.2-68.7 5.5 16.5c5.3 16.1 16.7 29.4 31.7 37l23.3 11.8c15.6 7.9 34.6 1.5 42.5-14.3 7.7-15.7 1.4-35.1-14.3-43zM73.6 385.8c-3.2 8.1-8 15.4-14.2 21.5l-50 50.1c-12.5 12.5-12.5 32.8 0 45.3s32.7 12.5 45.2 0l59.4-59.4c6.1-6.1 10.9-13.4 14.2-21.5l13.5-33.8c-55.3-60.3-38.7-41.8-47.4-53.7l-20.7 51.5z"></path>
					</svg>
				</button>
				</form>
			</div>
			<div class="col-6 text-center px-2 py-1">
				<form method="post" th:action="|/parcours/${level.id}/etape3|" th:each="journey, iter : ${journeys3}" th:if="${journey.transportType == 'Bus/Tram'}">
				<input type="hidden" name="emission" th:value="${journey.emissionCo2}">
				<input type="hidden" name="time" th:value="${journey.duration}">
				<button class="bouton bt3" type="submit">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bus" class="svg-inline--fa fa-bus fa-w-16 icon2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path fill="currentColor" d="M488 128h-8V80c0-44.8-99.2-80-224-80S32 35.2 32 80v48h-8c-13.25 0-24 10.74-24 24v80c0 13.25 10.75 24 24 24h8v160c0 17.67 14.33 32 32 32v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h192v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h6.4c16 0 25.6-12.8 25.6-25.6V256h8c13.25 0 24-10.75 24-24v-80c0-13.26-10.75-24-24-24zM112 400c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm16-112c-17.67 0-32-14.33-32-32V128c0-17.67 14.33-32 32-32h256c17.67 0 32 14.33 32 32v128c0 17.67-14.33 32-32 32H128zm272 112c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path>
					</svg>
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="train" class="svg-inline--fa fa-train fa-w-14 icon3" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						<path fill="currentColor" d="M448 96v256c0 51.815-61.624 96-130.022 96l62.98 49.721C386.905 502.417 383.562 512 376 512H72c-7.578 0-10.892-9.594-4.957-14.279L130.022 448C61.82 448 0 403.954 0 352V96C0 42.981 64 0 128 0h192c65 0 128 42.981 128 96zm-48 136V120c0-13.255-10.745-24-24-24H72c-13.255 0-24 10.745-24 24v112c0 13.255 10.745 24 24 24h304c13.255 0 24-10.745 24-24zm-176 64c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56z"></path>
					</svg>
				</button>
				</form>
			</div>
			<div class="col-6 text-center px-2 py-1">
				<form method="post" th:action="|/parcours/${level.id}/etape3|" th:each="journey : ${journeys3}" th:if="${journey.transportType == 'Voiture'}">
				<input type="hidden" name="emission" th:value="${journey.emissionCo2}" >
				<input type="hidden" name="time" th:value="${journey.duration}">
				<button class="bouton bt4" type="submit">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="car" class="svg-inline--fa fa-car fa-w-16 icon4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
						<path fill="currentColor" d="M499.99 176h-59.87l-16.64-41.6C406.38 91.63 365.57 64 319.5 64h-127c-46.06 0-86.88 27.63-103.99 70.4L71.87 176H12.01C4.2 176-1.53 183.34.37 190.91l6 24C7.7 220.25 12.5 224 18.01 224h20.07C24.65 235.73 16 252.78 16 272v48c0 16.12 6.16 30.67 16 41.93V416c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-32h256v32c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32v-54.07c9.84-11.25 16-25.8 16-41.93v-48c0-19.22-8.65-36.27-22.07-48H494c5.51 0 10.31-3.75 11.64-9.09l6-24c1.89-7.57-3.84-14.91-11.65-14.91zm-352.06-17.83c7.29-18.22 24.94-30.17 44.57-30.17h127c19.63 0 37.28 11.95 44.57 30.17L384 208H128l19.93-49.83zM96 319.8c-19.2 0-32-12.76-32-31.9S76.8 256 96 256s48 28.71 48 47.85-28.8 15.95-48 15.95zm320 0c-19.2 0-48 3.19-48-15.95S396.8 256 416 256s32 12.76 32 31.9-12.8 31.9-32 31.9z"></path>
					</svg>
				</button>
				</form>
			</div>
			
		</div>
	</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/parcours1.js"></script>
<script th:text="|let pos1 = [${level.pos1}]; let pos2 = [${level.pos2}]; let pos3 = [${level.pos3}]; let pos4 = [${level.pos4}];|"></script>
</body>
</html>